

/* Navigation */
#nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;   
}

#nav-mobile {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;   
}

.menu a {
	color: $black;
}

.menu li:hover a{
	text-decoration: underline;
}

.mobile-menu {
	position: fixed;
	top: 42px;
	width: 100%;
	z-index: 9999;
	height: 80px;
	background-color: $mobile_menu_bg_color;
	display: none;
}

.mobile-menu ul {
	list-style-type: none;
	left: -20px;
	position: relative;
	width: 100%;
}

.mobile-menu li {
	height: 40px;
	color: $mobile_menu_font_color;
	border-style: solid;
	border-color: $mobile_menu_border;
	@include border_bottom();
	border-width: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
}

.mobile-menu li:hover {
	background-color: $mobile_menu_bg_hover;
}

@media (min-width: 640px) {
	.mobile-menu {
		display: none;
	}
}

@media (max-width: 450px) {
	#nav {
		display: none;
	}
}
.top-bar {
	@include nav_transition(0.4s);
}
#nav li {
	@include nav_transition(0.4s);
}

/* Content */
body {
	position: relative;
	overflow-x: hidden;
}

h1 {
	font-size: $title;
}

h2 {
	font-size: $sub_title;
}

h3 {
	text-align: center;
}

.normal {
	font-weight: normal;
	float: right;
}

.header {
	position: relative;
	background-image: url("../data/pics/skyline.jpg");
	background-size: cover;
	background-position: 100% 50%;
	height: 520px;
}

.header a:link, .header a:active, .header a:visited {
	color: white;
}



.header-text {
	color: $white;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.intro-buttons button {
	border-style: solid;
	border-width: 2px;
	padding: 5px;
	margin: 5px;
	font-weight: bold;
}

.intro-buttons button:hover {
	background-color: $gray;
}

.fullwidth {
	width: 100%;
}

.stripe {
	height: 500px;
	position: relative;
}

@media (max-width: 1024px) {
	.stripe .even {
		height: 1000px;
	}
}

.odd {
	background-color: $white;
}

.even {
	background-color: $silver;
}

.examples a {
	color: $gray;
}
.examples h2 {
	text-align: center;
	font-size: 30px;
}

.carousel {
	text-align: center;
}

.carousel p {
	color: $blue;
	font-weight: bold;
}

.slick-prev:before, .slick-next:before{
    color: $gray;
    font-size: 30px;
}

.slick-prev {
	left: 45px;
	z-index: 9000;
	width: 33px;
	height: 30px;
}

.slick-next {
	right: 45px;
	width: 33px;
	height: 30px;
}

.details, .video {
	margin: 50px auto;
}

@media (max-width: 1024px) {
	.details, .video {
		margin: 0 auto;
	}

	section.even {
		height: auto;
	}
}

.details h2 {
	font-weight: bold;
}

.details ul {
	list-style-image: url('../data/pics/checkmark.png');
}

.video {
	position: relative;
	padding-bottom: 15px;
	padding-top: 30px;
	height: 100%;
	overflow: hidden;
	max-width: 627px;
}

video {
	position:absolute;
	top: 65px;
	left: 28px;
	width: 85%;
	max-width: 490px;
}	

@media (max-width: 640px) {
	.video {
		padding-top: 0;
	}
}

.bg {
	background-image: url('../data/pics/skyline.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
}

.form-title {
	margin: 5px;
	font-size: 24px;
}
.job-form {
	position: absolute;
	width: 800px;
	top: 50%;
	left: 60%;
	transform: translate(-50%, -50%);
}

.job-form input:nth-child(1), .job-form input:nth-child(2) {
	width: 300px;
	display: inline-block;
	margin: 5px;
}

.job-form button {
	margin-top: 11px;
}

.search_btn {
	background-color: $green;
	border-radius: 3px;
	margin-left: 6px;
}

.search_btn:hover {
	background-color: $button_hover;
}

.home-button-grp {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

/* Modal */

.adv_section {
	text-align: center;
}
.adv_section_left, .adv_section_right {
	display: inline-block;
	margin: 4%;
	text-align: center;
}

.adv_section input {
	margin: 0 auto;
}

#adv_search_btn {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

@media (max-width: 820px) {
	.job-form input:nth-child(1), .job-form input:nth-child(2) {
		display: block;
		margin: 5px auto;
	}

	.job-form {
		text-align: center;
		left: 50%;
	}
}

.no-link {
   pointer-events: none;
   cursor: default;
}


/* Internships */

.internships {
	background: #fefefe;
	margin: 0 auto;
}

.internships h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

.internships .button-grp {
	text-align: center;
}

.internships #internship { 
	background-color: $red;
}

.internships .active {
	font-weight: bold;
}

.internships .job-header {
	margin-top: 10px;
}

.internships .job-header b, .internships .job-header i {
	position: relative;
	top: 12%;
}

.internships .job-header-info {
	margin: 0 auto;
}

.job-header-info a {
	color: $red;
}

@media (min-width: 640px) {
	

	.job-header-info {
		margin: 0;
		display: inline;
	}
}


.internships .apply button {
	height: 100%;
	width: 100%;
}

.internships .job-header img{
	width: auto;
	max-width: 120px;
	height: 50px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

.job-container {
	border: 3px solid rgba(10, 10, 10, 0.5);
	color: #0a0a0a;
	background-color: white;
	margin-bottom: 20px;
	
}

@media(min-width:1024px) {
	.job-container {
		max-width: 370px;
	}
}

@media(min-width:640px) {
	.job-container {
		max-width: 480px;
	}
}

.internships .job-detail blockquote {
	width: 90%;
	margin: 0 auto;
}

.internships .job-detail ul {
	list-style-type: none;
}

.internships .job-detail li {
	word-wrap: break-word;
}

.apply {
	display: block;
	width: 90%;
	margin: 0 auto;
}

.apply button {
	background-color: $green;
	font-weight: bold;
}

.apply button:hover {
	background-color: $light-green;
}

#fulltime {
	background-color: #40826D;
}

.home {
	text-align: center;
}

.examples > .carousel > div {
	cursor: pointer;
}

.item img {
	position: relative;
	left: 50px;
	width: 80px;
	height: 80px;
}

/* Footer */
footer {
	position: relative;
	height: 100px;
}

.footer {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.media {
	height: 30px;
	width: 30px;
}

@media (max-width: 368px) {
	.media {
		height: 18px;
		width: 18px;
	}
}