<div class="internships">
	<div class="row">
	  <div class="small-12 columns">
	  	<h1>Full-time</h1>
	  	<h6><b>Location: </b>{{location}}</h6>
	  </div>
	</div>
	
	<div class="row">
	  <div class="small-12 columns">
	  	<div class="button-grp">
	  		<a ng-href="#/fulltime"><button class="button active" id="fulltime">Full-time</button></a>
	  		<a ng-href="#/internships"><button class="button primary" id="internship">Internship</button></a>
	  	</div>
	  	<div class="home">
	  		<a ng-href="#/home" class="center">or go back Home</a>
	  	</div>
	  </div>
	</div>
	
	<hr>

	<div class="row small-up-1 medium-up-2 large-up-3">
  		<div class="column" ng-repeat="posting in postings track by $index">
  			<div class="job-container">
  				<div class="job-header">
  					<div class="row">
  						<div class="small-12 medium-12 columns">
  							<div class="job-header-info">
  								<a ng-href="http://{{posting.website}}" target	="_blank"><img ng-src="{{posting.image_link}}"	/></a>
  								<a ng-href="http://{{posting.website}}" target	="_blank"><b>{{posting.company_name}}</b></a>
  								<br>
  								<i>{{posting.job_title}}</i>
  							</div>
  						</div>
  						
  					</div>
  				</div>
  			
  				<hr>
  				<div class="job-detail">
  					<div class="row">
  						<div class="small-12 medium-12 columns">
  							<ul>
								<li><u>Glassdoor rating:</u> <b>	{{posting.overallRating}}</b> <i>	({{posting.numberOfRatings}} reviews)</i></li>
								<li><u>Industry:</u> {{posting.industry}}</li>
							</ul>
  						</div>
  					</div>
				</div>
				<a ng-href="{{posting.link}}" class="apply" target="_blank"><button class="button">Apply</button></a>
			</div>
			
		</div>
	</div>
</div>


