
 <div ng-controller="homeController">
   <!-- Navigation -->
   <div class="title-bar" id="nav-mobile" data-responsive-toggle="nav" data-hide-for="medium">
     <button class="menu-icon" id="menu-icon" type="button"></button>
     <div class="title-bar-title">SimpleHire</div>
   </div>
   
   <div class="top-bar" id="nav">
       <ul class="menu">
         <li><a href="#/home" class="menu-text">SimpleHire <div class="normal">&nbsp| Dev Job Listings</div></a></li>
         <li><a href="#details" id="details-header">Details</a></li>
         <li><a href="#search" id="search-header">Find Jobs</a></li>
       </ul>
   </div>

   <div class="mobile-menu">
     <ul>
       <a href="#details"><li>Details</li></a>
       <a href="#search"><li>Find Jobs</li></a>
     </ul>
   </div>

   <section class="header">
     <div class="header-text">
       <h1><b>SimpleHire</b></h1>
       <h2>Your source for development job postings</h2>
       <div class="intro-buttons">
         <a href="#details"><button type="button">Details</button></a>
         <!-- <a href="#/fulltime"><button type="button">Find Full-time</button></a> -->
         <!-- <a href="#/internships"><button   type="button">Find Internships</button></a> -->
         <a href="#search"><button type="button">Get Started</button></a>
       </div>
     </div>
   </section>

   <section class="examples">
     <h2>Quick Search</h2>
     <div class="carousel">
       <div ng-click="search_full_carousel('San Francisco, CA')" class="item"><img src="./data/pics/cali.png"><p>San Francisco Full time</p></div>
       <div ng-click="search_intern_carousel('San Francisco, CA')" class="item"><img src="./data/pics/cali.png"><p>San Francisco Internships</p></div>
       <div ng-click="search_full_carousel('Chicago, IL')" class="item"><img src="./data/pics/illinois.png"><p> Chicago Full time</p></div>
       <div ng-click="search_intern_carousel('Chicago, IL')" class="item"><img src="./data/pics/illinois.png"><p>Chicago Internships</p></div>
       <div ng-click="search_full_carousel('New York, NY')" class="item"><img src="./data/pics/ny.png"><p>New York Full time</p></div>
       <div ng-click="search_intern_carousel('New York, NY')" class="item"><img src="./data/pics/ny.png"><p>New York Internships</p></div>
       <div ng-click="search_full_carousel('Los Angeles, CA')" class="item"><img src="./data/pics/cali.png"><p>Los Angeles Full time</p></div>
       <div ng-click="search_intern_carousel('Los Angeles, CA')" class="item"><img src="./data/pics/cali.png"><p>Los Angeles Internships</p></div>
       <div ng-click="search_full_carousel('Austin, TX')" class="item"><img src="./data/pics/texas.png"><p>Austin Full time</p></div>
       <div ng-click="search_intern_carousel('Austin, TX')" class="item"><img src="./data/pics/texas.png"><p>Austin Internships</p></div>
     </div>
   </section>

     <section class="row stripe even" id="details">
         <div class="small-12 large-6 columns">
       <div class="details">
         <h2>Need a development job?</h2>
         <p>SimpleHire helps you find development jobs in the best cities for tech jobs!</p>
       
         <b>Why use SimpleHire?</b>
         <ul>
           <li>We can help you apply for jobs. You can find hundreds of job postings on SimpleHire.</li>
           <li>SimpleHire integrates data from Glassdoor, so you can filter and sort job postings by company reviews.</li>
           <li>SimpleHire takes advantage of Google's advanced search operators to narrow job results to best match your interest.</li>
         </ul>

         <i>**Job search engine coming soon!</i>

       </div>
     </div>
     <div class="small-12 large-6 columns">
       <div class="video">
         <img src="./data/pics/browser.png">
         <video loop autoplay>
           <source src="./data/videos/hireme.mp4" type="video/mp4">
           Your browser does not support the video tag.
         </video>
       </div>
     </div>
   </section>

   <section class="row">
     <div class="column bg"></div>
   </section>

   <section class="row stripe odd" id="search">

   <div class="internships">
    <div class="button-grp home-button-grp">
        <h2>Choose job preferences:</h2>
         <div class="location">
          <select ng-model="selectedLocation" ng-options="x for x in locations">
          </select>
        </div>
        <button ng-click="search_full()" class="button active" id="fulltime">Full-time</button>
        <button ng-click="search_intern()" class="button primary active" id="internship">Internship</button>  
    </div> 
   </div>
     <!-- JOB SEARCH ENGINE
      <div class="job-form">
       <div class="form-title"><b>HireMe</b> | Job Search Engine</div>
       <form>
        <input type="text" name="title" placeholder="job title,  company, or keywords" ng-model="search_query.title">
        <input type="text" name="location" placeholder="city, state, or zip" ng-model="search_query.location">
        <button class="secondary hollow button" ng-click="search_submit();">Search</button>
       </form>
       <button type="button" class="button search_btn" id="advanced" data-open="advanced_search">Advanced Search</button>
     </div> -->
   </section>

   <!-- ADVANCED SEARCH
   <div class="reveal" id="advanced_search" data-reveal>
     <h3>Advanced Job Search.</h3>
     <div class="adv_section">
       <div class="adv_section_left">
         <b>Job Titles</b>
         <input type="text" name="title" placeholder="(e.g. designer)">
         <a href="#" class="no-link">Add another job title</a>
       </div>
       <div class="adv_section_right">
         <b>Skills/Keywords</b>
         <input type="text" name="title" placeholder="(e.g. computer)">
         <a href="#" class="no-link">Add another skill or keyword</a>
       </div>
     </div>

     <div class="adv_section">
       <div class="adv_section_left">
         <b>Location</b>
         <input type="text" name="title" placeholder="(e.g. Chicago)">
         <a href="#" class="no-link">Add another location</a>
       </div>
       <div class="adv_section_right">
         <b>Companies</b>
         <input type="text" name="title" placeholder="(e.g. Amazon)">
         <a href="#" class="no-link">Add another company</a>
       </div>
     </div>
     <button type="button" class="button search_btn" id="adv_search_btn" data-close aria-label="Close modal">Search</button>
     <button class="close-button" data-close aria-label="Close modal" type="button">
       <span aria-hidden="true">&times;</span>
     </button>
   </div> -->

   <footer class="even">
     <div class="footer">Follow or contact me at <a href="https://twitter.com/matthewmly" target="_blank"><img src="./data/pics/twitter.png" class="media"></a> | SimpleHire</div>
   </footer>

   <script src="./js/script.js"></script>
 </div>

 